<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">

  <div class="jumbotron">
    <h1 class="display-4">Добро пожаловать анонимный пользователь!</h1>
    <p class="lead">Это тестовое задание...</p>
    <hr class="my-4">
    <p>По условию тестового задания, ты не можешь проходить тесты, только зарегистрированные пользователи могут проходить любой из тестовых наборов</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
      <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button">Регистрация</a>
    </p>
  </div>

  </div>
</main>